<div class="row mt-4 justify-content-center card-outer">
  <h3 class="fs-3 fw-bold p-4 text-center text-uppercase">Technology Stack</h3>
  <div class="row mb-2 justify-content-between">
    <ng-container *ngFor="let service of services">
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start" style="width: 40%">
            <strong class="d-inline-block mb-2 text-primary">{{service.category}}</strong>
            <h3 class="mb-0">
              <a class="text-dark" href="#">{{service.title}}</a>
            </h3>
            <div class="mb-1 text-muted">Starts From {{service.startFrom}}</div>
            <p class="card-text mb-auto" style="width: 100%">{{service.content}}</p>
          </div>
          <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
               alt="Thumbnail [200x250]" style="width: 200px; height: 250px; object-fit: cover"
               src="{{service.image}}"
               data-holder-rendered="true">
        </div>
      </div>
    </ng-container>
  </div>
</div>
