<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner h-25">
    <ng-container *ngFor="let imagesLink of imagesLinks ">
      <div class="carousel-item" [ngClass]="{'active':imagesLink?.active}">
        <img src="{{imagesLink.path}}" class="d-block w-100 h-50" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="text-primary text-capitalize">{{imagesLink?.heading}}</h2>
          <h4 class="text-white">{{imagesLink?.paragraph}}</h4>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
